<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.PolygonGamesStudio.UJourney"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.NETWORK"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.INTERNET"/>



    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:theme="@style/_AppTheme"
                 android:exported="true">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <activity android:name=".LogInActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainMenuActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HistoryListActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ProfileActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CategoryListActivity"
                  android:screenOrientation="portrait">
        </activity>
        <!--SERVICE-->
        <service android:name=".Service.HistoryService" />
        <service android:name=".Service.CategoryService" />
        <!--PROVIDER-->
        <provider android:name=".ContentProvider.CacheContentProvider"
                  android:authorities="cache">
        </provider>
    </application>

</manifest>
